@import url('https://fonts.googleapis.com/css?family=Tajawal');

* {
 margin: 0;
 padding: 0;
}

.grid-container  {
  grid-template-areas:
  'header'
  'resp-nav'
  'main'
  'about'
  'skills'
  'contact'
  'footer';
}
  header {
    grid-area: header;
    display: block;
  }

  .header-title {font-size: 1.5em;}

  nav {
    display: none !important;
  }

  .btn {
    display: block !important;
  }

  #id-main {height: auto;}
  .main-container {
    grid-area: main;
    height: 80vh;
  }

  .popout-header {
    display: none !important;
  }
